.listParamsContainer {
    display:flex;
    color:white;
    justify-content:space-between;
    text-align:center;
}

.listParamsContainer > h2:first-child{
    width:100px;
}

.listParamsContainer > h2 {
    width:300px;
    margin: 20px 20px;
}