.crypto_info_container{
    height:400px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items: center;
    color:white;

}

.crypto_info_container > h1{
    margin: 20px 0 0;
    font-size: 48px;
    font-weight: 700;

}

.crypto_info_container > h2 {
    margin: 20px 0 0;
    font-size: 36px;
}
.crypto_info_container > img {
    width:200px;
    height:200px;
    margin-top:50px ;
}

.crypto_info_container > div {
    display:flex;
}
.crypto_info_container > div >h3:first-child{
    margin-right: 50px;
}

.crypto_info_container > div > h3 {
    font-size:24px;
}

